<table border="1" class="dataframe data">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>country_txt</th>
      <th>provstate</th>
      <th>count</th>
      <th>region_txt</th>
      <th>success</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>129870</th>
      <td>Zimbabwe</td>
      <td>Matabeleland South</td>
      <td>12</td>
      <td>Sub-Saharan Africa</td>
      <td>1</td>
    </tr>
    <tr>
      <th>129871</th>
      <td>Zimbabwe</td>
      <td>Matabeleland South</td>
      <td>12</td>
      <td>Sub-Saharan Africa</td>
      <td>1</td>
    </tr>
    <tr>
      <th>129872</th>
      <td>Zimbabwe</td>
      <td>Bulawayo</td>
      <td>10</td>
      <td>Sub-Saharan Africa</td>
      <td>1</td>
    </tr>
    <tr>
      <th>129873</th>
      <td>Zimbabwe</td>
      <td>Bulawayo</td>
      <td>10</td>
      <td>Sub-Saharan Africa</td>
      <td>1</td>
    </tr>
    <tr>
      <th>129874</th>
      <td>Zimbabwe</td>
      <td>Bulawayo</td>
      <td>10</td>
      <td>Sub-Saharan Africa</td>
      <td>1</td>
    </tr>
    <tr>
      <th>129875</th>
      <td>Zimbabwe</td>
      <td>Bulawayo</td>
      <td>10</td>
      <td>Sub-Saharan Africa</td>
      <td>1</td>
    </tr>
    <tr>
      <th>129876</th>
      <td>Zimbabwe</td>
      <td>Bulawayo</td>
      <td>10</td>
      <td>Sub-Saharan Africa</td>
      <td>1</td>
    </tr>
  </tbody>
</table>