<table border="1" class="dataframe data">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>iyear</th>
      <th>iday</th>
      <th>imonth</th>
      <th>country_txt</th>
      <th>region_txt</th>
      <th>nkill</th>
      <th>nwound</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>133518</th>
      <td>2014</td>
      <td>12</td>
      <td>6</td>
      <td>Iraq</td>
      <td>Middle East &amp; North Africa</td>
      <td>1570.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>73126</th>
      <td>2001</td>
      <td>11</td>
      <td>9</td>
      <td>United States</td>
      <td>North America</td>
      <td>1384.0</td>
      <td>8190.0</td>
    </tr>
    <tr>
      <th>73127</th>
      <td>2001</td>
      <td>11</td>
      <td>9</td>
      <td>United States</td>
      <td>North America</td>
      <td>1383.0</td>
      <td>8191.0</td>
    </tr>
    <tr>
      <th>55934</th>
      <td>1994</td>
      <td>13</td>
      <td>4</td>
      <td>Rwanda</td>
      <td>Sub-Saharan Africa</td>
      <td>1180.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>136283</th>
      <td>2014</td>
      <td>3</td>
      <td>8</td>
      <td>Iraq</td>
      <td>Middle East &amp; North Africa</td>
      <td>953.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>133225</th>
      <td>2014</td>
      <td>10</td>
      <td>6</td>
      <td>Iraq</td>
      <td>Middle East &amp; North Africa</td>
      <td>670.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>179671</th>
      <td>2017</td>
      <td>14</td>
      <td>10</td>
      <td>Somalia</td>
      <td>Sub-Saharan Africa</td>
      <td>588.0</td>
      <td>316.0</td>
    </tr>
    <tr>
      <th>76347</th>
      <td>2004</td>
      <td>21</td>
      <td>3</td>
      <td>Nepal</td>
      <td>South Asia</td>
      <td>518.0</td>
      <td>216.0</td>
    </tr>
    <tr>
      <th>136746</th>
      <td>2014</td>
      <td>19</td>
      <td>8</td>
      <td>Syria</td>
      <td>Middle East &amp; North Africa</td>
      <td>517.0</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>170198</th>
      <td>2016</td>
      <td>10</td>
      <td>12</td>
      <td>Syria</td>
      <td>Middle East &amp; North Africa</td>
      <td>433.0</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>