<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>operations</th>
      <th>country</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>116</td>
      <td>Colombia</td>
    </tr>
    <tr>
      <th>2</th>
      <td>112</td>
      <td>India</td>
    </tr>
    <tr>
      <th>3</th>
      <td>109</td>
      <td>Turkey</td>
    </tr>
    <tr>
      <th>7</th>
      <td>54</td>
      <td>Russia</td>
    </tr>
  </tbody>
</table>